<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}

    <style type="text/css">
      table {border: 1px solid black;}
      td {border: 1px solid black;}
      th {border: 1px solid black;}
   </style>
  </head>
  <body>
<!--          document.getElementById(display_id).style = "height:500px"-->
    <script>
      function displayIframe(display_id, url){
          document.getElementById(display_id).innerHTML = "<iframe src=".concat(url, " height = '500' width = '500'></iframe>");

       }
    </script>
    <h1> Philosophy (WIP) </h1>


    <div id="philosophy_display"></div>

  <table>
    <tr>
      <th>Papers</th>
      <th>Pdf</th>
      <th>Date</th>
    </tr>
    <tr>
      <td> <a href = "javascript: displayIframe('philosophy_display', 'https://docs.google.com/document/d/e/2PACX-1vTnS4SPhh5N7mxQ_cE6oZapWLlAqO4Nos3Kh7KateglGqkNJgPPlbnn3w3mV8LE0Q1NW1R_Im1Gl6ud/pub?embedded=true');" > Outline </a> </td>
      <td>Link</td>
      <td>1/2023</td>
    </tr>
    <tr>
      <td> <a href = "javascript: displayIframe('philosophy_display', 'https://docs.google.com/document/d/e/2PACX-1vRjpNu-A3--4GntkQvwVXpJXIApxFRvyI8ntrXw5WRM4sJrKNHwp6B0uSs36y_tow/pub?embedded=true');" > Three Principles for Eating Birds </a> </td>
      <td>Link</td>
      <td>1/2023</td>
    </tr>
    <tr>
      <td> <a href = "javascript: displayIframe('philosophy_display', 'https://docs.google.com/document/d/e/2PACX-1vTnS4SPhh5N7mxQ_cE6oZapWLlAqO4Nos3Kh7KateglGqkNJgPPlbnn3w3mV8LE0Q1NW1R_Im1Gl6ud/pub?embedded=true');" > Consciousness and Elephants </a> </td>
      <td>Link</td>
      <td>1/2023</td>
    </tr>
  </table>
    {{content}}
  </body>
</html>
